* {
  width: 100vw;
}

.entryRow {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

img {
  height: auto;
  width: 100vw;
}

.imageDiv {
  display: flex;
  width: 100%;
  justify-content: center;
}
