nav {
  display: flex;
  border: 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.navbar-button {
  margin: 10px;
  width: 100px;
}

h2 {
  border: 1px solid;
  width: 50%;
}
